.text-loader {
    animation: loading-animation 1s ease infinite;
    background: linear-gradient(45deg, #ccc, transparent);
    background-size: 400% 400%;
    font-size: 24px;
    border-radius: 2px;
    color: transparent;
}

@keyframes loading-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
