.search-box {
    display: flex;
    max-width: 1200px;
    margin: auto;
    height: 100%;

    .search--content {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px 0 10px;

        img.logo-ml {
            width: 50px;
            height: 40px;
            margin: 0 20px 0 0px;
        }

        .input-group {
            height: 38px;
            position: relative;
            flex-grow: 1;

            input {
                height: 100%;
                width: 100%;
                border: 0;
                font-size: 17px;
                outline: none;
                padding: 0 0 0 10px;
                box-shadow: 1px 1px 2px 0 #0000001a;
                border-radius: 4px;
            }

            button {
                position: absolute;
                right: -10px;
                top: 0px;
                height: 38px;
                border: 0;
                border-radius: 4px;
                border-bottom-left-radius: 0;
                border-left: 1px solid #e6e6e6;
                border-top-left-radius: 0;
                padding: 0 8px;
                outline: none;
                cursor: pointer;
                transition: all 0.2s ease-out;

                &:active {
                    background-color: #e2e2e2;
                }

                img {
                    width: 18px;
                    padding: 9px;
                }
            }
        }
    }
}
