.item--profile {
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    margin: 0 10px;

    .item--details {
        max-width: 900px;

        .item--pic {
            padding: 32px 40px;

            img {
                width: 680px;
            }
        }

        .item--description {
            padding: 30px 0 30px 30px;

            .description--title {
                display: block;
                text-align: left;
                font-size: 24px;
                padding: 0 0 32px 0;
            }

            .description--content {
                text-align: left;
                font-size: 16px;
                color: #999;
            }
        }
    }
    .item--buy {
        flex-grow: 1;
        text-align: left;
        padding: 32px 32px 0 0;

        .status {
            font-size: 14px;
            text-transform: capitalize;
            color: #666666;
            margin-bottom: 16px;
        }

        .title {
            font-size: 24px;
            color: #333333;
            font-weight: 600;
        }

        .price {
            font-size: 46px;
            margin: 32px 0;
        }

        .buy {
            background-color: #3483fa;
            border: 0;
            height: 40px;
            border-radius: 4px;
            color: #fff;
            width: 100%;
            outline:none;
            cursor:pointer;
            font-size: 19px;
            transition:all .1s ease-out;

            &:active {
                background-color: #2669d0;
            }
        }
    }
}

@media (max-width: 950px) {
    .item--profile {
        .item--details {
            .item--pic {
                img {
                    width: 340px;
                }
            }
        }
    }
}
