.breadcrumb {
    color: #797979;
    text-align: left;
    font-size: 0.9rem;
    padding: 0px 10px;
    margin: 16px auto;
    text-transform: capitalize;

    span.category:not(:last-child)::after {
        content: ">";
        margin: 0 10px;
    }
}
