.product-item {
    display: grid;
    padding: 15px;
    grid-template-columns: 180px 1fr 200px;
    border-bottom: 1px solid #eaeaea;
    transition: all 0.2s ease-out;

    &:hover {
        cursor: pointer;
        background-color: #e4e4e4;
        transition: all 0.2s ease-out;
    }

    &:active {
        background-color: #bbbbbb;
    }

    img.item--pic {
        width: 180px;
        margin: auto;
        border-radius: 4px;
    }

    .item--description {
        text-align: left;
        margin-left: 16px;

        .item--title {
            font-size: 1.4rem;
            margin: 15px 0;
            font-weight: 300;
            overflow-wrap: break-word;
        }

        .item--price {
            font-size: 1.2rem;
            display: inline-flex;
            font-weight: 600;
        }

        .item--amount {
            margin: 0 5px;
        }

        img {
            width: 19px;
            margin: auto;
            display: inline-flex;
        }
    }

    .item--condition {
        display: inline-block;
        margin: auto;
        font-size: 1rem;
        color: #8c8c8c;
    }
}

@media (max-width: 950px) {
    .product-item {
        grid-template-columns: 150px 1fr 100px;

        img.item--pic {
            width: 90px;
        }

        .item--description {
            .item--title {
                font-size: 1rem;
            }

            .item--price {
                font-size: 0.8rem;
                display: inline-flex;
                font-weight: 600;
            }
        }
    }
}
