.no-items {
    background-color: #fff;
    display: inline-flex;
    padding: 40px 64px;
    margin: 31px;
    border-radius: 5px;

    svg.search-svg {
        display: inline-block;
        padding: 25px;
    }

    .no-items--content {
        .no-items--title {
            font-size: 1.4rem;
        }

        ol {
            list-style: disc;
            text-align: left;
            line-height: 25px;
        }
    }
}
