.no-search {
    background-color: #fff;
    display: inline-flex;
    padding: 20px 64px;
    margin: 31px;
    border-radius: 5px;

    svg.search-svg {
        display: inline-block;
        padding: 25px;
    }

    .no-search--content {
        display:flex;
        
        .no-search--title {
            font-size: 1.4rem;
            text-align: left;
            display: flex;
            margin: auto;
        }
    }
}
